
@charset "UTF-8";
@use "public" as pub;

.booking_title {
  margin: 0;
  line-height: 1.15;
  font-size: 26px;
  padding-bottom: 20px;
  text-align: center;
  position: relative;
  @include pub.mq("sp") {
    font-size: 23px;
  } 
}

.booking_thanks {
  text-align: center;
  font-size: 30px;
  margin: 30px 0;
  color: darkblue;
  font-weight: 400;
  @include pub.mq("sp") {
    font-size: 23px;
  } 
}

.booking_number {
  text-align: center;
  font-size: 25px;
  background-color: lemonchiffon;
  padding: 10px;
}

.booking_message {
  text-align: center;
  padding-top: 20px;
}
.booking_coment {
  padding-bottom: 25px;
}

.booking_button {
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
  .booking_btn {
    padding: 15px 40px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 700;
    box-shadow:3px 5px 17px 5px #DEDEDE;
    color: pub.$highlight_color;
    background-color: pub.$sub_color;
    border: none;
    transition: all 0.3s ease 0s;
    @include pub.mq("sp") {
      font-size: 18px;
      padding: 16px 30px;
    } 
    &:hover{
      cursor: pointer;
        position: relative;
        transform: translate(2px, 2px);
        box-shadow:none;
    }
  }
}

.booking_note {
  text-align: center;
  color: #f63131;
  padding-top: 20px;
}

.booking_RsNumber {
  color: #f63131;
}
