@charset "UTF-8";
@use "public" as pub;

.title {
    text-align: center;
    margin: 50px auto;
    margin-bottom: 20px;
    font-size: 24px;
}

.width {
    max-width: 800px;
    justify-content: center;
    margin: 50px auto;
}

.total {
    border: 1px slategray dotted;
    padding: 20px 100px;
    @include pub.mq("sp") {
        padding: 20px;
    } 
}

.radio {
    border: 1px solid grey;
    padding: 30px;
    border-radius: 5px;
}

.button {
    display: flex;
    margin: 40px auto 0;
    padding: 15px 40px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    box-shadow:3px 5px 17px 5px #DEDEDE;
    color: pub.$highlight_color;
    background-color: pub.$sub_color;
    border: none;
    transition: all 0.3s ease 0s;
    &:hover{
        position: relative;
        transform: translate(2px, 2px);
        box-shadow:none;
    }
}

.flex{
    display: flex;
    margin-top: 10px;
}

.list{
    list-style-type: none;
    @include pub.mq("sp") {
        margin: 0;
        padding-left: 20px;
        font-size: 14px;
    }  
}
