@use "public" as pub;

// 検索フォーム =========================================================
.search_box {
  margin: 80px 0;
}
.search_box_container {
  border: 3px solid pub.$main_color;
  border-radius: 20px;
  text-align: center;
  background-color: pub.$highlight_color;
}
.search_title {
  margin: 20px 0 0;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: #F97B09;
  font-size: 50px;
  text-shadow: 4px 4px 0px rgba(242, 159, 13, 0.38), 6px 6px 0px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-style: italic;
  @include pub.mq("sp") {
    font-size: 24px;
  }
  @include pub.mq("tab") {
  }
}
.search_items {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  .route_abroad {
    display: flex;
    @include pub.mq("sp") {
      // display: block;
    }
  }
  .input_abroad {
    margin: 0 10px;
  }
}
.search_submit {
    color: #fff;
    background-color: pub.$dark_color;
    border-radius: 20px;
    padding: 10px 25px 10px 25px;
    font-size: 22px;
    margin-top: 20px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 3px 5px 17px 5px #dedede;
    color: pub.$highlight_color;
    border: none;
    transition: all 0.3s ease 0s;
    @include pub.mq("sp") {
      font-size: 18px;
      padding: 7px 20px;
    }
    &:hover {
      position: relative;
      transform: translate(2px, 2px);
      box-shadow: none;
    }
}

// inputコンポーネント
.search_input {
    border: solid 3px pub.$main_color;
    height: 34px;
    width: 136px;
    border-radius: 12px;
    text-align: center;
    outline: none;
    width: 200px;
    height: 45px;
    font-size: 18px;
    @include pub.mq("sp") {
        width: 200px;
    }
}

// 228
// 検索結果　=================================================
.title {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    margin: 10px 15px 10px;
    line-height: 1.2;
    background-image: linear-gradient(rgba(0 0 0 / 0) 70%, pub.$main_color 70%);
    width: fit-content;
    @include pub.mq("sp") {
        background-image: none;
    }
  }
.tour_tags {
  display: flex;
  margin-left: 1vw;
  @include pub.mq("sp") {
    margin-left: 4vw;
  }
  .tour_tag {
    border: 3px solid pub.$main_color;
    border-radius: 99px;
    padding: 3px 10px 3px 6px;
    margin: 0 2px;
    font-style: italic;
    background-color: pub.$dark_color;
    color: #fff;
    font-weight: 700;
    @include pub.mq("sp") {
        font-size: 12px;
      }
  }
}

.search_result {
  padding-top: 20px;
}
.search__flex {
  display: flex;
  @include pub.mq("tab") {
    display: block;
  } 
  @include pub.mq("sp") {
    display: block;
  } 
}

.result__flex {
  display: flex;
  @include pub.mq("tab") {
    // display: block;
  } 
  @include pub.mq("sp") {
    display: block;
  } 
}

.result__flex_items {
  display: flex;

  @include pub.mq("tab") {
    display: block;
  } 
  @include pub.mq("sp") {
    display: block;
  } 
}
.result__flex_item {
  display: flex;
}

.result_image {
    position: relative;
    width: 300px;
    height: 224px;
    @include pub.mq("tab") {
        width: 94%;
        height: 264px;
        margin-top: 10px;
    } 
    @include pub.mq("sp") {
        left: 50%;
        transform: translateX(-50%);
        width: 94%;
        height: 60vw;
        margin-top: 10px;
    } 
}

.list {
  list-style-type: none;
  padding-left: 20px;
  width: 170px;
}
.list_includes {
    list-style-type: none;
    padding-left: 20px;
    width: 367px;
    @include pub.mq("tab") {
        width: 290px;
    }
    @include pub.mq("sp") {
        width: 300px;
    }
}

.eachcontent {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  height: 228px;
  border: 2px solid #dcdfe4;
  background: pub.$highlight_color;
  max-width: 996px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  @include pub.mq("tab") {
    height: 100%;
    width: 94%;
  }
  @include pub.mq("sp") {
    height: 100%;
  }
}


.place {
  padding-left: 24px;
}

.headline {
  font-size: 2rem;
  font-weight: bold;
  // margin-left: 4vw;
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 162px;
  &::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 40px;
    background-color: pub.$dark_color;
    transform: rotate(60deg);
    bottom: 21px;
    left: -31px;
  }
  &::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 40px;
    background-color: pub.$dark_color;
    transform: rotate(-60deg);
    bottom: 21px;
    right: -31px;
  }
}

.button {
  color: #fff;
  background-color: pub.$dark_color;
  border-radius: 100vh;
  padding: 10px 25px 10px 25px;
  font-size: 1rem;
  margin-top: 70px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 3px 5px 17px 5px #dedede;
  color: pub.$highlight_color;
  border: none;
  transition: all 0.3s ease 0s;
  @include pub.mq("tab") {
    margin: 20px 0 20px 20px;
  }
  @include pub.mq("sp") {
    font-size: 18px;
    padding: 7px 20px;
    margin: 20px 0 20px 20px;
  }
  &:hover {
    position: relative;
    transform: translate(2px, 2px);
    box-shadow: none;
  }
}

.span {
  color: pub.$dark_color;
  font-size: 18px;
  font-weight: 700;
}
