.register {
  width: 700px;
  margin: 0 auto;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .register {
    width: 330px;
    transition: all 0.3s ease 0s;
  }
}
.register .title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 32px;
  text-align: center;
}

.container {
  border-radius: 16px;
  padding: 40px;
  background-color: #FFC896;
}
@media (max-width: 767px) {
  .container {
    padding: 20px;
  }
}
.container .form_name {
  width: 100%;
}
@media (max-width: 767px) {
  .container .form_name {
    display: block;
  }
}
@media (max-width: 767px) {
  .container .form_name {
    margin-bottom: 20px;
  }
}
.container .form_name .form_name_side {
  display: flex;
}
@media (max-width: 767px) {
  .container .form_name .form_name_side {
    width: 274px;
    display: block;
  }
}
.container .form_name .name_kanji {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .container .form_name .name_kanji {
    margin-bottom: 20px;
  }
}
.container .form_name .name_kana {
  margin-left: auto;
}
@media (max-width: 767px) {
  .container .form_name .name_kana {
    margin-bottom: 20px;
  }
}
.container .form_birth_group {
  display: flex;
  justify-content: space-around;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .container .form_birth_group {
    margin-bottom: 20px;
  }
}
.container .form_tmp {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .container .form_tmp {
    margin-bottom: 20px;
  }
}
.container .privacy {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .container .privacy {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.form_label {
  margin: 0 20px;
  position: relative;
}
.form_label::after {
  position: absolute;
  content: "*";
  color: #f63131;
}
@media (max-width: 767px) {
  .form_label {
    margin: 0 14px;
  }
}

.input_name {
  width: 280px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

.input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
}

.input_select {
  height: 25px;
  width: 80px;
  border-radius: 10px;
  border: solid 2px rgb(184, 184, 184);
}
@media (max-width: 767px) {
  .input_select {
    width: 58px;
    margin-left: 14px;
  }
}

.privacy {
  text-align: center;
  font-size: 24px;
}

.create_user_btn {
  text-align: center;
}
.create_user_btn .btn {
  padding: 15px 40px;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 1px 1px 6px 1px #655656;
  color: #fff7ee;
  background-color: #9a2727;
  border: none;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .create_user_btn .btn {
    font-size: 18px;
    padding: 7px 20px;
  }
}
.create_user_btn .btn:hover {
  position: relative;
  transform: translate(2px, 2px);
  box-shadow: none;
}

.red {
  color: #f84f4f;
  font-weight: 700;
  cursor: pointer;
}

.form_required {
  position: relative;
}
.form_required::after {
  position: absolute;
  content: "*";
  color: #f84f4f;
  left: 0;
  top: 0;
}

.error_message {
  color: #f63131;
  text-align: center;
  padding-bottom: 20px;
}