@charset "UTF-8";


$layout-width-inner: 1200px;
$breakpoints: (
//キー : 値
'sp': "(max-width: 767px)", 
'res': "(max-width: #{$layout-width-inner - 1px})", 
// 'wide': "(min-width: 768px) and (max-width: 1050px)", 
'pc': "(min-width: #{$layout-width-inner})"
) ;

@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

.register {
    width: 700px;
    margin: 0 auto;
    transition: all 0.3s ease 0s;
    @include mq("res") {
        width: 330px;  
        transition: all 0.3s ease 0s;
    }
    .title {
        margin: 0;
        padding-bottom: 20px;
        font-size: 32px;
        text-align: center;
    }
}
.container {
    // border: 1px solid #000;
    border-radius: 16px;
    padding: 40px;
    background-color: #FFC896;
    @include mq("res") {
        padding: 20px;
    } 

    .form_name {
        width: 100%;
        @include mq("res") {
            display: block;
        }
        @include mq("res") {
            margin-bottom: 20px;
        }
        .form_name_side {
            display: flex;

            @include mq("res") {
                width: 274px;  
                display: block;
            }
        }
        .name_kanji {
            margin-bottom: 40px;
            @include mq("res") {
                margin-bottom: 20px; 
            }
        }
        .name_kana {
            margin-left: auto;
            @include mq("res") {
                margin-bottom: 20px; 
            }
        }
    }

    .form_birth_group {
        display: flex;
        justify-content: space-around;
        border: 1px solid rgb(118, 118, 118);
        border-radius: 10px;
        padding: 10px;
        background-color: #fff;
        margin-bottom: 40px;
        @include mq("res") {
            margin-bottom: 20px; 
        }
    }
    .form_tmp {
        margin-bottom: 40px;
        @include mq("res") {
            margin-bottom: 20px; 
        }
    }
    .privacy {
        margin-bottom: 40px;
        @include mq("res") {
            margin-bottom: 20px; 
            font-size: 16px;
        }
    }
}
.form_label {
    margin: 0 20px;
    position: relative;
    &::after {
        position: absolute;
        content: "*";
        color: #f63131;
    }

}
.input_name {
    width: 280px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px rgb(118, 118, 118);
}
.input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: solid 1px rgb(118, 118, 118);
}
.input_select {
    height: 25px;
    width: 80px;
    border-radius: 10px;
    @include mq("res") {
        width: 40px; 
        margin-left: 16px;
    }
}
.privacy {
    text-align: center;
    font-size: 24px;
}

.create_user_btn {
    text-align: center;
    .btn {
        padding: 15px 40px;
        border-radius: 20px;
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;
        box-shadow:3px 5px 17px 5px #DEDEDE;
        transition: all 0.3s ease 0s;
        @include mq("res") {
            font-size: 18px;
            padding: 7px 20px;
        } 
        &:hover{
            position: relative;
            transform: translate(2px, 2px);
            box-shadow:none;
        }
    }
}
.red {
    color: #f84f4f;
    font-weight: 700;
    cursor: pointer;
}
.form_required {
    position: relative;
    &::after {
        position: absolute;
        content: "*";
        color: #f84f4f;
        left: 0;
        top: 0;
    }
}
