
.footer {
    background-color: #FFC896;
    height: 50px;
    text-align: center;
    display: table;
    width: 100%;
    position: relative;
    bottom: 0
}
.copy {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.conect {
    display: flex;
    justify-content: center;
    margin-left: -70px;
    background-color: #FFC896;
    margin-top: 50px;
}
.socials {
    display: flex;
    justify-content: center;
    background-color: #FFC896;
}
.face {
    margin: 15px;
    padding-right: 10px;
    cursor: pointer;
    margin-top: 50px;
}
.tw {
    margin: 15px;
    padding-right: 10px;
    cursor: pointer;
    margin-top: 50px;
}
.ins {
    margin: 15px;
    padding-right: 10px;
    cursor: pointer;
    margin-top: 50px;
}