

.headerall {
    background-color: #FFC896;
}
.header {
    height: 60px;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}
.buttons {
    margin: auto 20px;
    display: flex;   
}
.button {
    margin: auto 10px;
    cursor: pointer;    
    border-radius: 99px;
    padding: 10px;
}
.cart {
    padding-top: 10px;
}

.logo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    font-style: italic;
    margin: auto 10px;
    
}


.icon {
    display: flex;
    margin-left: 30px;
}
