.tour_trip_home {
  margin: 0 auto 80px auto;
  padding: 0;
}
@media (max-width: 1199px) {
  .tour_trip_home {
    margin: 0 auto 40px auto;
    transition: all 0.1s ease 0s;
  }
}

.tour_trip_contents {
  margin: 80px auto;
  width: calc(100vw - 200px);
}
@media (max-width: 1199px) {
  .tour_trip_contents {
    margin: 40px auto;
    width: calc(100vw - 60px);
    transition: all 0.1s ease 0s;
  }
}

.qwerty {
  width: inherit;
  background-color: rgb(253, 162, 162);
  height: 400px;
}