.container {
    max-width: 700px;
    
    margin: 40px auto 20px;
}
.title {
    margin: 40px 0 20px;
}

.inner_border {
    border: 1px solid gray;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.button {
    margin-top: 20px;
}

.reg_button {
    display: flex;
    margin: 40px auto;
}
