.container {
  max-width: 700px;
  margin: 40px auto 20px;
}

.title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 26px;
  text-align: center;
}
@media (max-width: 767px) {
  .title {
    font-size: 18px;
  }
}

.inner_border {
  border: none;
  padding: 40px 0;
  border-radius: 16px;
  background-color: #ffc896;
}

.input_form {
  display: flex;
  justify-content: center;
}

.input_name {
  width: 280px;
  height: 40px;
  border-radius: 10px;
  border: solid 1px rgb(118, 118, 118);
  margin-bottom: 40px;
  border: none;
}

.login_button {
  text-align: center;
}

.button {
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 24px;
  font-weight: 400;
  color: #fff7ee;
  background-color: #9a2727;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 6px 1px #655656;
  transition: all 0.3s ease 0s;
}
.button:hover {
  position: relative;
  transform: translate(2px, 2px);
  box-shadow: none;
}

.reg_button {
  display: flex;
  margin: 40px auto;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 24px;
  font-weight: 400;
  color: #fff7ee;
  background-color: #9a2727;
  border: none;
  cursor: pointer;
  box-shadow: 3px 5px 17px 5px #dedede;
  transition: all 0.3s ease 0s;
}
.reg_button:hover {
  position: relative;
  transform: translate(2px, 2px);
  box-shadow: none;
}

.error_message {
  color: #f63131;
  text-align: center;
  padding-bottom: 20px;
}