.okapi{
    background-color: aliceblue;
    border: none;
}
.back{
    
    background-color: aliceblue;
}
.h1{
    margin: 0;
    padding: 0;;
}
.cong{
    position: absolute;
    width: 1000px;
    height: 400px;
    top: 190px;
    left: 250px;
    background-color:#ffc896;
    border-radius: 40px;
    text-align: center;
}
.link{
    color: red;
}
.link:hover{
    opacity: 0.7;
    cursor: alias;
}

.ome{
    font-weight: bold;
    color:white;
    position: relative;
    top: 190px;
    left: 200px;
    border: #3d3b39;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    background-color:#9bc9fe;
    font-size: 2rem;
}
.ome:before{
    content: "";
    position: absolute;
    
    left: 100%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #9bc9fe;
    z-index: 0;
}

.get{
    font-weight: bold;
    color:white;
    position: relative;
    top: 190px;
    left: 750px;
    border: #3d3b39;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    background-color:#9bc9fe;
    font-size: 1.5rem;
}
.get:before{
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #9bc9fe;
    z-index: 0;
}
