@charset "UTF-8";


$layout-width-inner: 1200px;
$breakpoints: (
//キー : 値
'sp': "(max-width: 767px)", 
'res': "(max-width: #{$layout-width-inner - 1px})", 
// 'wide': "(min-width: 768px) and (max-width: 1050px)", 
'pc': "(min-width: #{$layout-width-inner})"
) ;

@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}


// 検索フォーム　=========================================================
.search_box {
    margin: 80px 0;
}
.search_box_container {
    border: 3px solid #888;
    border-radius: 20px;
    text-align: center;
    @include mq("res") {
        padding-bottom: 53px;
    }
}
.search_title {
    margin: 40px 0 0;
    font-size: 32px;
    @include mq("res") {
        font-size: 24px;
    }
}
.search_items {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    .route_abroad {
        display: flex;
        @include mq("res") {
            // display: block;
        }
    }
    .input_abroad {
        margin: 0 10px;
    }
}
.search_submit {
    padding: 0 20px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    @include mq("res") {
        position: absolute;
        transform: translateY(64px);
    }
}









// 検索結果　=================================================


.search_result{
    padding-top: 20px;
}


.flex{
    display: flex;
 
}

.serchdetail{
    padding-left: 10px;
    padding-right: 10px;
}

.list{
    list-style-type: none;
  
}



.eachcontent{
    margin-bottom: 1rem;
    margin-top: 1rem;
    height: 200px;
    border: 2px solid #dcdfe4;
}

.title{
    font-size: large;
    font-weight: bold;
}

.headline{
    font-size: 2rem;
    font-weight: bold;
}

.button{
  color: #fff;
  background-color: #eb6100;
  border: #eb6100;
  border-radius: 100vh;
  padding: 10px 25px 10px 25px;
  font-size: 1rem;
}
.button:hover{
  margin-top: 3px;

}


.last{
    padding-left: 60rem;
    padding-top:20px;
}
