.pageWrapper {
    min-width: 700px;
    max-width: 700px;
    margin: 0 auto;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tab_item {
    color: White;
    background: LightGray;
    margin-right: 5px;
    padding: 10px 87px;
    order: -1;
    margin: 0 auto;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
    cursor: pointer;
}

.tab_item:hover {
    opacity: 0.75;
}

  
  /* 選択されているタブのスタイルを変える */
  .tabs input:checked + .tab_item {
    background-color: #43c8f9;
    color: #fff;
  }


  .tab_content {
    width: 100%;
    display: none;
  }

.tabSwitch:checked + .tab_item + .tab_content {
    display: block;
}

.wrapperjpMap {
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 518px;
    background-size: 518px;
    border-radius: 0 3px 3px 3px;
    border: 1px solid #02530f;
    margin: 0 auto;
    background-position: center;
}

.wrapperworldMap {
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 518px;
    background-size: 600px;
    border-radius: 0 3px 3px 3px;
    border: 1px solid #02530f;
    margin: 0 auto;
    background-position: center;
}



.jpregion li {
    position: absolute;
    list-style: none;
    border: 1px solid #43c8f9;
    color: grey;
    text-align: center;
    padding: 5px 10px;
    font-size: 13px;
    background-color: white;
    border-radius: 3px;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
    z-index: 1;
}

.tihou {
    position: relative;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;

}

.tohoku {
    position: absolute;
    top: 160px;
    right: 70px;
    /* border: 1px solid grey; */
    color: grey;
    font-size: 11px;
    padding: 5px 30px 50px 30px;
    border-radius: 5px;
}

.kanto {
    position: absolute;
    top: 260px;
    right: 70px;
    /* border: 1px solid grey; */
    color: grey;
    font-size: 11px;
    padding: 5px 52px 50px 52px;
    border-radius: 5px;
}

.tyubu {
    position: absolute;
    top: 110px;
    right: 300px;
    /* border: 1px solid grey; */
    color: grey;
    font-size: 11px;
    padding: 5px 45px 80px 45px;
    border-radius: 5px;
}

.kinki {
    position: absolute;
    top: 380px;
    right: 300px;
    /* border: 1px solid grey; */
    color: grey;
    font-size: 11px;
    padding: 5px 45px 80px 45px; 
    /* background-color: #fff; */
    border-radius: 5px;
}

.tyugoku {
    position: absolute;
    top: 190px;
    left: 170px;
    /* border: 1px solid grey; */
    color: grey;
    font-size: 11px;
    padding: 5px 35px 80px 35px; 
    /* background-color: #fff; */
    border-radius: 5px;
}

.kyusyu {
    position: absolute;
    top: 250px;
    left: 35px;
    /* border: 1px solid grey; */
    color: grey;
    font-size: 11px;
    padding: 5px 35px 80px 35px; 
    /* background-color: #fff; */
    border-radius: 5px;
}

.hoka {
    top: 205px;
    right: 128px;
}

.miya {
    top: 205px;
    right: 78px;
}

.kana {
    top: 305px;
    right: 78px;
}

.toti {
    top: 305px;
    right: 143px;
}

.kyo {
    top:420px;
    left: 343px;
}

.osk {
    top:420px;
    left: 293px;
}

.mie {
    top:455px;
    left: 293px;
}

.fuku {
    top: 290px;
    left: 100px;
}

.oki {
    top:325px;
    left: 50px;
}

.naga {
    top:290px;
    left: 50px;
}

.ishi {
    top:155px;
    right: 358px;
}

.nii {
    top: 155px;
    right: 308px;
}

.yama {
    top: 190px;
    right: 308px;
}

.ehi {
    top:265px;
    left: 185px;
}

.hiro {
    top:230px;
    left: 185px;
}

.kaga {
    top:230px;
    left: 235px;
}



.worldregion li {
    position: absolute;
    list-style: none;
    border: 1px solid grey;
    color: grey;
    text-align: center;
    padding: 5px 5px;
    font-size: 13px;
    background-color: white;
    border-radius: 3px;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}

.ame {
    top: 220px;
    right: 170px;
}

.aus {
    bottom: 120px;
    right: 340px;
}

.fr {
    top: 208px;
    left: 80px;
}

.egy {
    top: 280px;
    left: 110px;
}

.ko {
    top: 230px;
    left: 280px;
}

.ita {
    top: 240px;
    left: 105px;
}

.phi {
    bottom: 190px;
    right: 323px;
}

.bra {
    bottom: 170px;
    right: 100px;
}

.sp {
    top: 240px;
    left: 40px;
}

.taiwa {
    bottom: 220px;
    right: 400px;
}

.nor {
    top: 150px;
    left: 120px;
}

.ind {
    bottom: 220px;
    right: 450px;
}

.thai {
    bottom: 187px;
    right: 400px;
}

.can {
    top: 170px;
    right: 200px;
}

.haw {
    bottom: 230px;
    right: 250px;
}

.micro {
    bottom: 155px;
    right: 260px;
}

.chi {
    top: 215px;
    right: 425px;
}
 
.tab_content a{
  padding-bottom: 5px;
  position: relative;
}
.tab_content a::before {
  background: #57c267;
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}
.tab_content a:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}
  