.search_box {
  margin: 80px 0;
}

.search_box_container {
  border-bottom: 3px solid #FFC896;
  border-left: 3px solid #FFC896;
  border-right: 3px solid #FFC896;
  border-radius: 0 20px 20px 20px;
  text-align: center;
  background-color: rgba(251, 251, 250, 0.7);
}

.search_title {
  margin: 0px 0 0;
  padding-top: 20px ;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: #F97B09;
  font-size: 50px;
  text-shadow: 4px 4px 0px rgba(242, 159, 13, 0.38), 6px 6px 0px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-style: italic;
}
@media (max-width: 767px) {
  .search_title {
    font-size: 24px;
  }
}
.search_items {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.search_items .route_abroad {
  display: flex;
}
.search_items .input_abroad {
  margin: 0 10px;
}

.search_submit {
  color: #fff;
  background-color: #eb6100;
  border-radius: 20px;
  padding: 10px 25px 10px 25px;
  font-size: 22px;
  margin-top: 20px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 3px 5px 17px 5px #dedede;
  color: #fff7ee;
  border: none;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .search_submit {
    font-size: 18px;
    padding: 7px 20px;
  }
}
.search_submit:hover {
  position: relative;
  transform: translate(2px, 2px);
  box-shadow: none;
}

.search_input {
  border: solid 3px #FFC896;
  height: 34px;
  width: 136px;
  border-radius: 12px;
  text-align: center;
  outline: none;
  width: 200px;
  height: 45px;
  font-size: 18px;
}
@media (max-width: 767px) {
  .search_input {
    width: 200px;
  }
}

.flex {
  display: flex;
  padding: 0 10px;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .flex {
    display: block;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .flex {
    display: block;
    padding: 0;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  margin: 10px 15px 10px;
  line-height: 1.2;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, #FFC896 70%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 767px) {
  .title {
    background-image: none;
  }
}

.tour_tags {
  display: flex;
  margin-left: 1vw;
}
@media (max-width: 767px) {
  .tour_tags {
    margin-left: 4vw;
  }
}
.tour_tags .tour_tag {
  border: 3px solid #FFC896;
  border-radius: 99px;
  padding: 3px 10px 3px 6px;
  margin: 0 2px;
  font-style: italic;
  background-color: #eb6100;
  color: #fff;
  font-weight: 700;
}
@media (max-width: 767px) {
  .tour_tags .tour_tag {
    font-size: 12px;
  }
}

.search__flex {
  display: flex;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .search__flex {
    display: block;
  }
}
@media (max-width: 767px) {
  .search__flex {
    display: block;
  }
}

.search_result {
  padding-top: 20px;
}

.result__flex {
  display: flex;
}
@media (max-width: 767px) {
  .result__flex {
    display: block;
  }
}

.result__flex_items {
  display: flex;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .result__flex_items {
    display: block;
  }
}
@media (max-width: 767px) {
  .result__flex_items {
    display: block;
  }
}

.result__flex_item {
  display: flex;
}

.result_image {
  position: relative;
  width: 300px;
  height: 224px;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .result_image {
    width: 94%;
    height: 264px;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .result_image {
    left: 50%;
    transform: translateX(-50%);
    width: 94%;
    height: 60vw;
    margin-top: 10px;
  }
}

.list {
  list-style-type: none;
  padding-left: 20px;
  width: 170px;
}

.list_includes {
  list-style-type: none;
  padding-left: 20px;
  width: 367px;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .list_includes {
    width: 290px;
  }
}
@media (max-width: 767px) {
  .list_includes {
    width: 300px;
  }
}

.eachcontent {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  height: 228px;
  border: 2px solid #dcdfe4;
  background: #fff7ee;
  max-width: 996px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) and (max-width: 1050px) {
  .eachcontent {
    height: 100%;
    width: 94%;
  }
}
@media (max-width: 767px) {
  .eachcontent {
    height: 100%;
  }
}

.place {
  padding-left: 24px;
}

.headline {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 162px;
}
.headline::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 40px;
  background-color: #eb6100;
  transform: rotate(60deg);
  bottom: 21px;
  left: -31px;
}
.headline::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 40px;
  background-color: #eb6100;
  transform: rotate(-60deg);
  bottom: 21px;
  right: -31px;
}

.headlineArea {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.button {
  color: #fff;
  background-color: #eb6100;
  border-radius: 100vh;
  padding: 10px 25px 10px 25px;
  font-size: 1rem;
  margin-top: 70px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 3px 5px 17px 5px #dedede;
  color: #fff7ee;
  border: none;
  transition: all 0.3s ease 0s;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .button {
    margin: 20px 0 20px 20px;
  }
}
@media (max-width: 767px) {
  .button {
    font-size: 18px;
    padding: 7px 20px;
    margin: 20px 0 20px 20px;
  }
}
.button:hover {
  position: relative;
  transform: translate(2px, 2px);
  box-shadow: none;
}

.span {
  color: #eb6100;
  font-size: 18px;
  font-weight: 700;
}

.howtosearch{
  display: flex;
  min-width: 40vw;
  /* height: 55px; */
  
}

.searchareaname{
  background-color: rgba(251, 251, 250, 0.7);
  min-width: 20vw;
  text-align: center;
  border-top: 3px solid #FFC896;
  border-left: 3px solid #FFC896;  
  border-right: 3px solid #FFC896;  
  border-radius: 20px 10px 0 0;
  padding: 10px;
}

.searchmap{
  background-color: rgba(251, 251, 250, 0.8);
  min-width: 20vw;
  text-align: center;
  border-top: 3px solid #FFC896;
  border-right: 3px solid #FFC896;
  border-bottom: 3px solid #FFC896; 
  border-radius: 10px 15px 0 0;
  padding: 10px;
}
