.cancel{
    background: url(../public/images/ok.jpg);
}
.main{
   
}
.tripdetail{
    display: flex;
}
.attention{
    padding-left: 150px;
}
.button{
   width: 200px;
   height: 50px;

}
.buttonposition{
    padding-top: 80px;
    padding-left: 200px;
    padding-bottom: 100px;
}

.tripinfo{
    display: flex;
}
.tripcontent{
    padding-left: 50px;
}
.count{
    display: flex;
}
