.cancel {
  background: url(../public/images/ok.jpg);
}

.tour_tags {
  display: flex;
  margin-left: 12vw;
}
@media (max-width: 767px) {
  .tour_tags {
    margin-left: 4vw;
  }
}
.tour_tags .tour_tag {
  border: 3px solid rgb(207, 207, 207);
  border-radius: 99px;
  padding: 5px 14px 5px 10px;
  margin: 0 2px;
  font-style: italic;
}

.tour_title {
  margin: 10px 0 20px 14vw;
  margin-bottom: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, #FFC896 70%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1.2;
  font-style: italic;
}
@media (max-width: 767px) {
  .tour_title {
    margin-left: 8vw;
    font-size: 19px;
  }
}

.tour_description {
  text-align: center;
  width: 80%;
  margin: 20px auto;
  font-style: italic;
}

.tour_detail_info {
  width: 840px;
  margin: 60px auto 0;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .tour_detail_info {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .tour_detail_info {
    width: 100%;
  }
}

.tour_detail_info_items {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .tour_detail_info_items {
    display: block;
  }
}
.tour_detail_info_items .tour_detail_info_item {
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  width: 360px;
  background: #fff7ee;
  border: solid 5px #FFC896;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .tour_detail_info_items .tour_detail_info_item {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .tour_detail_info_items .tour_detail_info_item {
    width: 100%;
    max-width: 340px;
    margin: 10px auto;
  }
}
.tour_detail_info_items .detail_list {
  line-height: 2;
}
.tour_detail_info_items .detail_form {
  border: none;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  border: solid 2px #FFC896;
  margin: 10px 0;
  position: relative;
  left: 180px;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .tour_detail_info_items .detail_form {
    left: 100px;
  }
}
@media (max-width: 767px) {
  .tour_detail_info_items .detail_form {
    margin: 10px 0px 10px;
    position: relative;
    left: 154px;
  }
}

.button_position {
  padding-top: 80px;
  text-align: center;
}
@media (max-width: 767px) {
  .button_position {
    padding-top: 40px;
  }
}
.button_position .button {
  padding: 15px 40px;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 3px 5px 17px 5px #dedede;
  color: #fff7ee;
  background-color: #9a2727;
  border: none;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .button_position .button {
    font-size: 18px;
    padding: 7px 20px;
  }
}
.button_position .button:hover {
  position: relative;
  transform: translate(2px, 2px);
  box-shadow: none;
}

.tour_detail_images {
  display: flex;
  justify-content: center;
  position: relative;
}
.tour_detail_images::after {
  content: "";
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 840px;
  height: 370px;
  border-image-source: repeating-linear-gradient(45deg, #fff, #fff 3px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 6px);
  border-image-slice: 20;
  border-image-repeat: round;
  border-style: solid;
  border-width: 22px;
}
@media (max-width: 767px) {
  .tour_detail_images::after {
    width: 77vw;
    height: 47vw;
  }
}

.detailimage_third {
  position: relative;
  bottom: 4px;
}

.tour_detail_images_top {
  position: relative;
  width: 586px;
  height: 400px;
}
@media (max-width: 767px) {
  .tour_detail_images_top {
    width: 50vw;
    height: 50vw;
  }
}

.tour_detail_images_sub {
  position: relative;
  width: 293px;
  height: 200px;
}
@media (max-width: 767px) {
  .tour_detail_images_sub {
    width: 30vw;
    height: 25vw;
  }
}

.error_message {
  color: red;
  text-align: center;
  position: relative;
  top: 32px;
}

.valid {
  color: red;
}

.detail__tab {
  margin-top: 60px;
  border-bottom: solid 3px #FFC896;
}
.detail__tab .detail__tab_items {
  text-align: center;
}
.detail__tab .detail__tab_items .detail__tab_btn {
  width: 360px;
  height: 40px;
  border: solid 3px #FFC896;
  border-radius: 10px 10px 0 0;
  margin: 0 10px;
  border-bottom: none;
  font-size: 20px;
  font-weight: 700;
  color: #888;
  background-color: #fff7ee;
  transition: all 0.6s ease-out;
}
.detail__tab .detail__tab_items .detail__tab_btn:hover {
  cursor: pointer;
  background-color: #FFC896;
  color: #fff7ee;
}

.user__comment_contents {
  margin: 80px;
}
.user__comment_contents .user__comment_items {
  margin: 20px 0;
  padding: 40px;
  background: #fff7ee;
  border: solid 5px #FFC896;
  border-radius: 20px;
}
.user__comment_contents .user__comment_items .user__comment_item {
  display: flex;
  padding: 10px 0;
  border-bottom: 2px solid #FFC896;
}
.user__comment_contents .user__comment_items .user__comment_item .user__comment_left {
  width: 20%;
}
.user__comment_contents .user__comment_items .user__comment_item .user__comment_right {
  width: 80%;
}

.user__comment_none {
  padding-top: 40px;
  text-align: center;
  font-size: 20px;
  font-style: italic;
}

.user__comment_btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background-color: #eb6100;
  border-radius: 20px;
  padding: 20px 40px;
  margin-top: 40px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 3px 5px 17px 5px #dedede;
  color: #fff7ee;
  border: none;
  transition: all 0.3s ease 0s;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .user__comment_btn {
    margin: 20px 0 20px 20px;
  }
}
@media (max-width: 767px) {
  .user__comment_btn {
    font-size: 18px;
    padding: 7px 20px;
    margin: 20px 0 20px 20px;
  }
}
.user__comment_btn:hover {
  position: relative;
  transform: translate(-48%, 2px);
  box-shadow: none;
}